h1 {
    color: #948a73;
    background-color: #d2d1c9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
}

a {
    color: #b078b4;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bolderṭ;
}
